<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<div class="row ml-0 mt-3">
  <h2>Edit Event</h2>
</div>
<div class="row ml-0 mt-2">
  <p>Please enter the required information to edit the Event:</p>
</div>
<div class="row ml-0">
  <%= form_with model: @event, url: admin_event_path do |form| %>

    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :location %>
      <%= form.text_field :location, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= form.label :date_rule %>
      <%= form.datetime_local_field :date_rule %>
    </div>
    <div class="form-group">
      <%= form.label :visibility %>
      <%= form.text_field :visibility %>
    </div>
    <div class="form-group">
      <%= form.label :banner %>
      <%= form.file_field :bannerEvent%>
    </div>
    <div class="form-group">
      <%= form.label :Option_1_for_final_date %>
      <%= form.date_select :date1 %>
    </div>
    <div class="form-group">
      <%= form.label :Option_2_for_final_date %>
      <%= form.date_select :date2 %>
    </div>
    <div class="form-group">
      <%= form.label :Option_3_for_final_date %>
      <%= form.date_select :date3 %>
    </div>
    <div class="form-group">
      <%= form.submit "Edit", class: ["btn", "btn-primary"] %>
      <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
    </div>
  <% end %>
</div>
