<!DOCTYPE html>
<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>
<html>

<head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
</head>

<body>

<h2>EVENTS</h2>

<div>
  <%= link_to "Create Event", new_admin_event_path, class: ["btn", "btn-primary", "mr-4"] %>
</div>

<table>
  <tr>
    <th>ID</th>
    <th>Event Name</th>
    <th>Event Creator</th>
  </tr>

  <%@events.each do |e| %>
    <tr>
      <td><%=e.id %></td>
      <td><%= link_to e.title, controller: "events", action: "show", id: e.id%></td>
      <td><%= @users.find(e.event_creator_id).name + " " +@users.find(e.event_creator_id).last_name%></td>
    </tr>
  <% end %>
</table>


</body>
</html>