<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<% if @event.bannerEvent.attached? %>
  <div>
    <h1><%=@event.title%></h1>
    <%= image_tag(@event.bannerEvent, class: "event_banner")%>
    <h2 class="event_banner_left_side">Creation Date: <%=@event.created_at%></h2>
    <h2 class="event_banner_right_side">Location: <%=@event.location%></h2>
  </div>
<% else %>
  <h1><%=@event.title%></h1>
  <div class="event_banner">
  </div>
<% end %>

<body>
  <section class="section_left">
    <div class="button_line">
      <div><%= link_to "Edit Event",edit_admin_event_path(:event => @event.id),class: ["btn", "btn-primary", "mr-4"] %></div>
      <div><%= button_to 'Destroy', admin_event_path, method: :delete, class: ["btn", "btn-primary", "mr-4"]%></div>
      <div><%= link_to "Upload Files",upload_files_path(:event_id => @event.id), method: "get",class: ["btn", "btn-primary", "mr-4"] %></div>
      <div><%= link_to "Invite", new_admin_event_event_guest_path(@event.id), class: ["btn", "btn-primary"] %></div>
      <div><h4>Report</h4></div>
    </div>

    <h2>Description:</h2>
    <section class="rounded_box">
      <%=@event.description%>
    </section>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2 class="page-header">Comments</h2>
          <section class="comment-list">
            <!-- First Comment -->
            <%@event_comments.each do |comment| %>
              <div class="row ml-0 mt-2 mb-3">
                <%= button_to 'Edit Comment', edit_admin_comment_path(comment.id),  method: :get, class: ["btn", "btn-primary", "mr-4"]%>
                <%= button_to 'Delete Comment', admin_comment_path(comment.id), method: :delete, class: ["btn", "btn-primary", "mr-4"]%>
              </div>
              <article class="row">
                <div class="col-md-2 col-sm-2 hidden-xs">
                  <figure class="thumbnail">
                    <% if UserProfile.find(comment.registered_user.id).imageProfile.attached? %>
                      <%= image_tag(UserProfile.find(comment.registered_user.id).imageProfile, class:"img-responsive")%>
                    <% else %>
                      <img class="img-responsive" src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" />
                    <% end %>
                    <figcaption class="text-center"><%=comment.registered_user.name %> <%=comment.registered_user.last_name %></figcaption>
                  </figure>
                </div>
                <div class="col-md-10 col-sm-10">
                  <div class="panel panel-default arrow left">
                    <div class="panel-body">
                      <header class="text-left">
                        <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> <%=comment.created_at%></time>
                      </header>
                      <div class="comment-post">
                        <p>
                          <%=comment.text%>
                        </p>
                      </div>
                      <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
                    </div>
                  </div>
                </div>
              </article>
              <!-- Second Comment Reply -->
              <%@comment_replies.where(comment_id: comment.id).each do |reply| %>
                <article class="row">
                  <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-0 hidden-xs">
                    <figure class="thumbnail">
                      <% if UserProfile.find(reply.registered_user.id).imageProfile.attached? %>
                        <%= image_tag(UserProfile.find(reply.registered_user.id).imageProfile, class:"img-responsive")%>
                      <% else %>
                        <img class="img-responsive" src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" />
                      <% end %>
                      <figcaption class="text-center"><%=reply.registered_user.name %> <%=reply.registered_user.last_name %></figcaption>
                    </figure>
                  </div>
                  <div class="col-md-9 col-sm-9">
                    <div class="panel panel-default arrow left">
                      <div class="panel-heading right">Reply</div>
                      <div class="panel-body">
                        <header class="text-left">
                          <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> <%=comment.created_at%></time>
                        </header>
                        <div class="comment-post">
                          <p>
                            <%=reply.text%>
                          </p>
                          <div class="row ml-0 mt-2 mb-3">
                            <%= button_to 'Edit Reply', edit_admin_reply_path(reply.id), method: :get, class: ["btn", "btn-primary", "mr-4"]%>
                            <%= button_to 'Delete Reply', admin_reply_path(reply.id), method: :delete, class: ["btn", "btn-primary", "mr-4"]%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              <%end %>
            <% end %>
          </section>
        </div>
      </div>
    </div>

    <div class="row ml-0">
      <%= form_with url: admin_comments_path, method: :post do |form| %>

        <%= form.hidden_field :event_id, :value => @event.id %>

        <div class="form-group">
          <%= form.label :comment%>
          <%= form.text_field :text,size: 90,placeholder: "Write comment ..."  ,class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.submit "Comment",class: ["btn", "btn-primary"] %>
        </div>
      <% end %>
    </div>

  </section>

  <aside class="section_right">
    <h2>Images</h2>
    <%@event_images.each do |image| %>
      <!-- <h3><%=image%></h3> -->
      <img class="event_image">
    <%end%>

    <h2>Videos</h2>
    <%@event_videos.each do |video| %>
      <!-- <h3><%=video%></h3> -->
      <img class="event_video">
    <%end%>

    <h2>PDF</h2>
    <%@event_pdfs.each do |pdfs| %>
      <!-- <h3><%=pdfs%></h3> -->
      <img class="event_pdf">
    <%end%>
  </aside>

</body>
</html>
