<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag "event" %>
</head>
<% if @event.bannerEvent.attached? %>
  <div>
    <h1><%=@event.title%></h1>
    <%= image_tag(@event.bannerEvent, class: "event_banner")%>
    <h2 class="event_banner_left_side">Creation Date: <%=@event.created_at%></h2>
    <h2 class="event_banner_right_side">Location: <%=@event.location%></h2>
  </div>
<% else %>
  <h1><%=@event.title%></h1>
  <div class="event_banner">
  </div>
<% end %>

<body>
  <section class="section_left">
    <div class="button_line">
      <div><%= link_to "Edit Event",edit_event_path(:event => @event.id),class: ["btn", "btn-primary", "mr-4"] %></div>
      <div><%= button_to 'Destroy', admin_event_path, method: :delete, class: ["btn", "btn-primary", "mr-4"]%></div>
      <div><%= link_to "Upload Files",upload_files_path(:event_id => @event.id), method: "get",class: ["btn", "btn-primary", "mr-4"] %></div>
      <div><h4>Invite</h4></div>
      <div><h4>Report</h4></div>
    </div>

    <h2>Description:</h2>
    <section class="rounded_box">
      <%=@event.description%>
    </section>
    <section class="vote_box">
      <h2>Vote for the date here!!</h2>
    </section>
  </section>

  <aside class="section_right">
    <h2>Images</h2>
    <%@event_images.each do |image| %>
      <!-- <h3><%=image%></h3> -->
      <img class="event_image">
    <%end%>

    <h2>Videos</h2>
    <%@event_videos.each do |video| %>
      <!-- <h3><%=video%></h3> -->
      <img class="event_video">
    <%end%>

    <h2>PDF</h2>
    <%@event_pdfs.each do |pdfs| %>
      <!-- <h3><%=pdfs%></h3> -->
      <img class="event_pdf">
    <%end%>
  </aside>

</body>
</html>
