<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<div class="row ml-0 mt-3">
  <h2>New Comment</h2>
</div>
<div class="row ml-0 mt-2">
  <p>Please enter the required information to create a New Comment:</p>
</div>
<div class="row ml-0">
  <%= form_with model: @event do |form| %>

    <%= form.hidden_field :event_id, :value => @event.id %>

    <div class="form-group">
      <%= form.label :comment%>
      <%= form.text_field :text,size: 90,placeholder: "Write comment ..."  ,class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.submit "Comment",class: ["btn", "btn-primary"] %>
    </div>
  <% end %>
</div>