<!DOCTYPE html>
<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>
<html>

<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>

  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
</head>

<body>

<h2>USERS</h2>

<div>
  <%= link_to "Create User", new_admin_registered_user_path, class: ["btn", "btn-primary", "mr-4"] %>
</div>

<table>
  <tr>
    <th>ID</th>
    <th>User</th>
    <th>Last Connection</th>
    <th>Delete</th>
  </tr>

  <%@registered_users.each do |u| %>
    <tr>
      <td><%=u.id %></td>
      <td><%= link_to u.name + " " + u.last_name, controller: "user_profiles", action: "show", id: u.id%></td>
      <td><%=u.last_sign_in_at %></td>
      <td><%= link_to "-", admin_registered_user_path(u.id), remote: true , data: { confirm: "Are you sure you want delete this user?" },class: "btn btn-danger", method: :delete%></td>
    </tr>
  <% end %>
</table>


</body>
</html>