<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div>
  <h1>Inbox</h1>
  <div class="btn_new_message">
    <%= link_to "New Message",new_message_path,class: ["btn", "btn-primary", "mr-4"]%>
  </div>
</div>
<hr>
<table>
  <%@inbox_message_recived.each do |mng| %>
    <div class="card shadow-sm">
      <div class="card-body">
        <strong class="card-text"><%= link_to "Message from: "+ mng.sender_user.name+" "+mng.sender_user.last_name, user_profile_path( mng.sender_user_id) %></strong>
        <p class="card-text"><%= mng.text%></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary"><%= Reply%></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</table>