<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<h1>Inbox</h1>
<hr>
<table>
  <tr>
    <th>Sender User</th>
    <th>Message Text</th>
  </tr>
  <%@inbox_message_recived.each do |mng| %>
    <div class="card shadow-sm">
      <div class="card-body">
        <p class="card-text"><%= "Message from"%></p>
        <p class="card-text"><%= mng.text%></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary"><%= Reply%></button>
          </div>
        </div>
      </div>
    </div>
    <tr>
      <td><%=mng.sender_user_id%></td>
      <td><%=mng.text%></td>
    </tr>
  <% end %>
</table>