<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag "event" %>
</head>

<body>

<%= link_to new_event_path do %>
  <button class="button">Create Event</button>
<% end %>

<h2>USER EVENTS</h2>

<div class ="event_created">
  <h2>Events created</h2>
  <%@events_created.each do |event| %>
    <div>
      <img src="https://drivingschoolmiamifl.com/wp-content/uploads/2019/07/placeholder.png">
      <h3><%= link_to event.title, controller: "events", action: "show", id: event.id%></h3>
      <h3><%=event.final_date%></h3>
    </div>
  <% end %>
</div>


<div class="event_joined">
  <h2>Events joined</h2>

  <%@events_joined.each do |event| %>
    <div>
      <img src="https://drivingschoolmiamifl.com/wp-content/uploads/2019/07/placeholder.png">
      <h3><%= link_to event.title, controller: "events", action: "show", id: event.id%></h3>
      <h3><%=event.final_date%></h3>
    </div>
  <% end %>
</div>








</body>
</html>