<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag "event" %>
</head>

<body>

  <div class="event_banner">
    <h1><%=@event.title%></h1>
    <h2 class="event_banner_left_side">Creation Date: <%=@event.created_at%></h2>
    <h2 class="event_banner_right_side">Location: <%=@event.location%></h2>
  </div>

</body>
</html>
















<p id="notice"><%= notice %></p>
<h1><%=@event.title%> </h1>
<ul>
  <li><b>Description:</b> <%=@event.description%></li>
  <li><b>Location:</b> <%=@event.location%></li>
  <li><b>Create at:</b> <%=@event.created_at%></li>
</ul>

<h2><%="Comments"%> </h2>
<table>
  <tr>
  <th>ID</th>
  <th>Comment Text</th>
  </tr>
  <%@event_comments.each do |comment| %>
    <tr>
      <td><%=comment.id %></td>
      <td><%=comment.text%></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
