<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<h1>Upload Files</h1>
<hr>

<% if @event.imgEvent.attached? %>
  <h2>Images</h2>
  <%@event.imgEvent.each do |img| %>
    <div>
      <%= image_tag(img,width: "15%")%>
      <h4><%=img.filename%></h4>
    </div>
  <% end %>
<% else %>
  <h2>Images</h2>
<% end %>
<div class="row ml-0">
  <%= form_with model: @event do |form| %>
    <div class="form-group">
      <%= form.label :Images %>
      <%= form.file_field :imgEvent,multiple: true%>
    </div>
    <div class="form-group">
      <%= form.submit "Upload File",class: ["btn", "btn-primary"] %>
    </div>
  <% end %>
</div>
<hr>
<% if @event.videosEvent.attached? %>
  <h2>Videos</h2>
  <%@event.videosEvent.each do |videos| %>
    <div>
      <%= video_tag(rails_blob_path(videos),:size => "320x240", :controls => true) %>
      <h4><%=videos.filename%></h4>
    </div>
  <% end %>
<% else %>
  <h2>Videos</h2>
<% end %>
<div class="row ml-0">
  <%= form_with model: @event do |form| %>
    <div class="form-group">
      <%= form.label :Videos %>
      <%= form.file_field :videosEvent,multiple: true%>
    </div>
    <div class="form-group">
      <%= form.submit "Upload File", class: ["btn", "btn-primary"] %>
    </div>
  <% end %>
</div>
<hr>
<% if @event.pdfEvent.attached? %>
  <h2>Pdfs</h2>
  <%@event.pdfEvent.each do |pdf| %>
    <div>
      <%= link_to pdf.filename, url_for(pdf) %>
    </div>
  <% end %>
<% else %>
  <h2>Pdfs</h2>
<% end %>

<div class="row ml-0">
  <%= form_with model: @event do |form| %>
    <div class="form-group">
      <%= form.label :Pdf %>
      <%= form.file_field :pdfEvent,multiple: true%>
    </div>
    <div class="form-group">
      <%= form.submit "Upload File",class: ["btn", "btn-primary"] %>
    </div>
  <% end %>
</div>
