<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag "homepage" %>
</head>

<body>

<section class="sections">
  <section class="sections_left">
    <h2>Upcoming Events</h2>
    <hr>

    <%@upcoming_event.each do |event| %>
      <%= link_to root_path do %>
        <button class="event_square">
          <img src="">
          <div>
            <ul>
              <li><b><%= link_to event.title, controller: "events", action: "show", id: event.id%></b></li>
              <li><%=event.final_date%></li>
            </ul>
          </div>
        </button>
      <% end %>
    <% end %>
  </section>


  <section class="sections_right">
    <h2>What do you want to do?</h2>
    <hr>

    <%= link_to root_path do %>
      <button class="button">Create Event</button>
    <% end %>

    <%= link_to root_path do %>
      <button class="button">Edit Event</button>
    <% end %>

    <%= link_to root_path do %>
      <button class="button">Create Organization</button>
    <% end %>
  </section>

</section>

