<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag "homepage" %>
</head>

<body>

<section class="sections">
  <section class="sections_left">
    <h2>Upcoming Events</h2>
    <hr>

    <%@upcoming_event.each do |event| %>
      <div class="event_square">
        <img src="">
        <div>
          <ul>
            <li><b><%=event.title%></b></li>
            <li><%=event.final_date%></li>
          </ul>
        </div>
      </div>
    <% end %>
  </section>





  <section class="sections_right">
    <h2>What do you want to do?</h2>
    <hr>

    <%= link_to root_path do %>
      <div class="button">Create Event</div>
    <% end %>

    <%= link_to root_path do %>
      <div class="button">Edit Event</div>
    <% end %>

    <%= link_to root_path do %>
      <div class="button">Create Organization</div>
    <% end %>

  </section>

</section>

