<p id="notice"><%= notice %></p>
<h1> User Profile </h1>
<ul>
  <li><b>Name:</b> <%=@user_profile.registered_user.name%></li>
  <li><b>Lastname:</b> <%=@user_profile.registered_user.last_name%></li>
  <li><b>Username:</b> <%=@user_profile.registered_user.username%></li>
  <li><b>E-mail:</b> <%=@user_profile.registered_user.email_address%></li>
  <li><b>Location:</b> <%=@user_profile.registered_user.location%></li>
  <li><b>Profile Picture:</b> <%=@user_profile.profile_picture%></li>
  <li><b>Banner Picture:</b> <%=@user_profile.banner_picture%></li>
</ul>
<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
