<%= stylesheet_link_tag "user_profile" %>
<head>

</head>

<body>
  <div class="user_banner">
    <img
      class="avatar"
      src="https://www.bsn.eu/wp-content/uploads/2016/12/user-icon-image-placeholder-300-grey.jpg">
    <h3 class="user_name"><%=@user_profile.registered_user.name%></h3>
    <h3 class="user_name"><%=@user_profile.registered_user.last_name%></h3>
  </div>

  <div>
    <%= link_to "Edit Profile",edit_user_profile_path(:user_profile_id => @user_profile.id),class: ["btn", "btn-primary", "mr-4"] %>
    <h3>Biography:</h3>
    <div class="biography">
      <h3><%=@user_profile.biography%></h3>
    </div>
  </div>
  <hr>
</body>

<div class ="event_created">
  <h2>Events created</h2>
    <%@user_events_created.each do |event| %>
      <div>
        <img src="https://drivingschoolmiamifl.com/wp-content/uploads/2019/07/placeholder.png">
        <h3><%= link_to event.title, controller: "events", action: "show", id: event.id%></h3>
        <h3><%=event.final_date%></h3>
      </div>
    <% end %>
</div>

<div class="event_joined">
  <h2>Events joined</h2>

  <%@user_events_joined.each do |event| %>
    <div>
      <img src="https://drivingschoolmiamifl.com/wp-content/uploads/2019/07/placeholder.png">
      <h3><%= link_to event.title, controller: "events", action: "show", id: event.id%></h3>
      <h3><%=event.final_date%></h3>
    </div>
  <% end %>
</div>
