<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
</head>

<h2>ORGANIZATIONS</h2>

<div>
  <%= link_to "Create Organization", new_admin_organization_path, class: ["btn", "btn-primary", "mr-4"] %>
</div>

<table>
  <tr>
    <th>ID</th>
    <th>Organization Name</th>
    <th>Organization Admins</th>
  </tr>

  <%@organizations.each do |org| %>
    <tr>
      <td><%=org.id %></td>
      <td><%= link_to org.name, controller: "organizations", action: "show", id: org.id%></td>
      <td>
      <%@admins.where(organization_id: org.id).each do |a|%>
       <%=@users.find(a.admin_id).name + " " + @users.find(a.admin_id).last_name %>
      <%end %>
      </td>
    </tr>
  <% end %>
</table>
