<p id="notice"><%= notice %></p>

<h1>Event Pdfs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_pdfs.each do |event_pdf| %>
      <tr>
        <td><%= link_to 'Show', event_pdf %></td>
        <td><%= link_to 'Edit', edit_event_pdf_path(event_pdf) %></td>
        <td><%= link_to 'Destroy', event_pdf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Pdf', new_event_pdf_path %>
