<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<h1>Select your vote for the final date</h1>

<div class="row ml-0">
  <%= form_with model: @event_guest do |form| %>
    <div class="form-group">
      <%= form.label :Vote_for_a_final_date %>
      <h4>Date 1: <%=@event.date1 %></h4>
      <%= radio_button_tag(:date_vote, 1) %>
      <h4>Date 2: <%=@event.date2 %></h4>
      <%= radio_button_tag(:date_vote, 2) %>
      <h4>Date 3: <%=@event.date3 %></h4>
      <%= radio_button_tag(:date_vote, 3) %>
    </div>

    <div class="form-group">
      <%= form.submit "Vote", class: ["btn", "btn-primary"] %>
      <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
    </div>
  <% end %>
</div>
