<p id="notice"><%= notice %></p>

<h1>Event Guests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_guests.each do |event_guest| %>
      <tr>
        <td><%= link_to 'Show', event_guest %></td>
        <td><%= link_to 'Edit', edit_event_guest_path(event_guest) %></td>
        <td><%= link_to 'Destroy', event_guest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Guest', new_event_guest_path %>
