<%= stylesheet_link_tag "organization" %>
<head>
  <% if @organization.bann.attached? %>
  <div>
    <%= image_tag(@organization.bann, class: "org_banner")%>
  </div>
  <% else %>
  <div class="org_banner">
  </div>
  <% end %>
</head>
<div>
  <%= link_to "Edit Organization",edit_organization_path(:organization_id => @organization.id),class: ["btn", "btn-primary", "mr-4"] %>
</div>
<h2>Events</h2>
<hr>
<%@organization_events.each_with_index do |event,i | %>
  <div class = "event">
    <img src="https://drivingschoolmiamifl.com/wp-content/uploads/2019/07/placeholder.png">
    <h3><%= link_to event.title,  controller: "events", action: "show", id: event.id %></h3>
    <h3><%=event.description %></h3>
    <h3><%=event.final_date%></h3>
  </div>
<% end %>