<!DOCTYPE html>
<html>
<html lang="en">

<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>


<div class="sidebar">
  <h3>ADMIN</h3>

  <li><%= link_to(admin_events_path)  do %>
      <i class="fa fa-calendar fa-2x"></i>
      Events
    <% end %></li>

  <li><%= link_to(admin_organizations_path)  do %>
      <i class="fa fa-users fa-2x"></i>
      Orgs.
    <% end %></li>

  <li><%= link_to(admin_comments_path)  do %>
      <i class="fa fa-comment fa-2x"></i>
      Comme.
    <% end %></li>

  <li><%= link_to(admin_registered_users_path)  do %>
      <i class="fa fa-user fa-2x"></i>
      Users
    <% end %></li>
</div>

<div class="main">
  <%=yield %>
</div>

</body>
</html>