<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <ul id="navbar">
      <li><%= link_to "E-Calendar", root_path %></li>
      <li><%= link_to "User", controller: "user_profiles", action: "show", id: 1 %></li>
      <li><%= link_to "Inbox", root_path%></li>
      <li><%= link_to "Organizations", organizations_path %></li>
      <li><%= link_to "LogOut", root_path %></li>
    </ul>
  </nav>

  <body>
  <div id="container">
    <aside id="options_bar">
      <h3>Barra</h3>
    </aside>
    <main>
      <%=yield %>
    </main>
  </div>
  </body>
</html>