<!DOCTYPE html>
<html>

<head>
<%= stylesheet_link_tag "sidebar_and _topbar" %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<nav class="topbar">
  <div class="topbar-left">
    <ul>
      <li><%= link_to "E-Calendar", root_path %></li>
    </ul>
  </div>
  <div class="topbar-right">
    <ul>
      <li><%= link_to "LogOut", root_path %></li>
      <li><input type="text" placeholder="Search.."></li>
      <li><%= link_to(root_path) do %>
          <i class="fa fa-inbox"></i>
        <% end %></li>
    </ul>
  </div>
</nav>

<div class="sidebar">
  <li><%= link_to(controller: "user_profiles", action: "show", id: 1 ) do %>
      <i class="fa fa-user-circle-o fa-2x"></i>
      Profile
    <% end %></li>

  <li><%= link_to(events_path)  do %>
      <i class="fa fa-calendar fa-2x"></i>
      Events
    <% end %></li>

  <li><%= link_to(organizations_path) do %>
      <i class="fa fa-users fa-2x"></i>
      Orgs.
    <% end %></li>

  <li><%= link_to(root_path) do %>
      <i class="fa fa-info-circle fa-2x"></i>
      Info
    <% end %></li>
</div>

<div class="main">
  <%=yield %>
</div>

</body>
</html>