<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <ul>
      <li><%= link_to "E-Calendar", root_path %></li>
      <li><%= link_to "Inbox", root_path%></li>
      <li><%= link_to "User", root_path %></li>
      <li><%= link_to "LogOut", root_path %></li>
    </ul>
  </nav>

  <body>
  <main>
    <%=yield %>
  </main>
  <footer>
    <h4>Contact Information</h4>
    <p>Contact: avial5@miuandes.cl </p>
  </footer>
  </body>
</html>
